* {
		box-sizing: border-box;
	}
	body {
		background-color: #997ebd;
		opacity: 99%; 
	}
	h1 {
		margin: 50px;
		text-align: center;
		background:
		font-family: Helvetica;
		font-weight: bold;
		font-size: 190%;
	}
	section {
		position: relative;
		padding: 15px;
		width: 100%;
	}
	p {
		position: relative;
		clear: right;
	}
	div {
		position: relative;
		background-color:#e6de77 ;
		border: 1px solid black;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
	}
	.sub1 {
		float: right;
		width: 160px;
		padding: 5px;
		color: white;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color:maroon ;
		
	}
	.sub2 {
		float: right;
		color: white;
		width: 160px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color:#030c91 ;
		
	}
	.sub3 {
		color: white;
		float: right;
		width: 160px;
		padding: 5px;
		margin: 0px;
		border: 1px solid black;
		text-align: center;
		font-size: 125%;
		font-weight: bold;
		background-color:#025c06 ;
		
	}
	.content {
		padding: 5px;
		border: none;
		background-color: #e6de77;
		font-family: Helvetica;
		color: black;
		margin: 0px;
		height: 200px;
		overflow: auto;
	}
	
	.row {
		width: 90%;
	}
	
	/*desktop version*/
	@media (min-width: 992px){
		.column-lg-4 {
			float: left;
			width: 33.33%;
		}
	}
	/*tablet version*/
	@media (min-width: 768px) and (max-width: 991px){
		.colmn-md-6 {
			float: left;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		.colmn-md-12 {
			float: left;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	/*mobile version*/
	@media (max-width: 767px){
		.colmn-sm-12 {
			float: left;
			width: 100%;
		}
	}
