body {
  font-size: 16px;
  color: #fff;
  background-color: #7f02de;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #de2a2a;
  border-radius: 0;
  border: 0;
}




.navbar-brand h1 { /* heading  food llc*/
  font-family: 'Lora', serif;

  color: #e5ff00;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #e5ff00 ;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

